.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.menuItem {
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 28%;
	height: 30%;
	text-align: center;
	font-family: 'Gotham Rounded', sans-serif;
	font-size: 2vw;
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transiton: background-color 0.5s ease-out;
	padding: 1%;
	text-decoration: none;
	color: black;
	margin: 8px;
}
.menuItem:hover {
	background-color: #f2f1f0;
	cursor: pointer;
}
.content {
	width: 70%;
	margin: auto;
}

@media screen and (min-width: 600px) and (max-width: 1000px) {
  .container {
  	width: 100%;
  	justify-content: center;
  	align-items: center;
  }
  .content {
  	width: 80%;
  }
  .menuItem {
  	width: 100%;
  }}

@media screen and (max-width: 600px) {
  .container {
  	width: 100%;
  	flex-direction: column;
  	justify-content: center;
  	flex-wrap: wrap;
  	align-items: center;
  }
  .content {
  	width: 100%;
  }
  .menuItem {
  	width: 80%;
  }
}