body {
	background-image: url('../img/clouds.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.cartItem {
	width: 100%;
	background-color: white;
	margin: 1%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cartImg {
	width: 20%;
	display: block;
	float: left;
	padding: 1%;
}
.cartTitle {
	font-size: 2rem;
}

@media screen and (max-width: 1000px) {
	.cartItem {
		width: 90%;
	}
}