.action-box img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

#events {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 15%;
}

.event img {
	display: flex;
	margin: auto;
	width: 20vw;
	height: 20vw;
	object-fit: cover;
	border-radius: 10px;
}

@media all and (max-width: 700px) {
	#events {
		flex-direction: column;
		align-items: center;
	}
	.event {
		padding-bottom: 6%;
	}
	.event img {
		width: 60vw;
		height: 60vw;
	}
}