.action-box img {
	width: 100px;
	height: 100px;
	object-fit: contain;
}

#events {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: 0 15%;
}

.event img {
	width: 300px;
	height: 300px;
	border-radius: 10px;
}

@media all and (max-width: 700px) {
	#events {
		flex-direction: column;
		align-items: center;
	}
}