.homeContent {
	display: flex;
	flex-direction: column;
	position: static;
	width: 100%;
	background-color: #ab2328;
}
.homeContent img {
	margin: 5%;
	max-width: 70%;
	object-fit: contain;
}
.mainLeft {
	display: flex;
	justify-content: center;
	width: 40%;
}
.mainLeft h1 {
	margin: auto;
	font-family: 'Coda Caption', sans-serif;
	font-size: 5vh;
	color: white;
}
.mainRight {
	display: flex;
	justify-content: center;
	width: 60%;
}

#action-boxes {
	display: flex;
	flex-direction: row;
}
#action-boxes button {
	color: white;
	background-color: #ab2328;
	font-family: 'Gotham Rounded', sans-serif;
	border-radius: 8px;
	border: 0px;
	padding: 10px 15px;
	margin: 5px 0;
}
#action-boxes i {
	margin: 25px;
}

@media all and (max-width: 700px) {
	#action-boxes {
		flex-direction: column;
	}
}

/* Code for wave at bottom of main section */
.custom-shape-divider-bottom-1656567268 {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	transform: rotate(180deg);
}

.custom-shape-divider-bottom-1656567268 svg {
	position: relative;
	display: block;
	width: calc(111% + 1.3px);
	height: 56px;
}

.custom-shape-divider-bottom-1656567268 .shape-fill {
	fill: #FFFFFF;
}