.homeContent {
	display: flex;
	flex-direction: column;
	position: static;
	width: 100%;
	background-color: #ab2328;
}
.homeContent img {
	margin: 5%;
	max-width: 70%;
	object-fit: contain;
}
#banner {
	display: flex;
	flex-direction: row;
}
.mainLeft {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 40%;
	margin: auto;
}
.mainLeft h1 {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(2rem + (20 * (100vw - 400px)/ 750));
	padding: 3%;
	color: white;
}
.mainLeft p {
	font-family: 'Montserrat', sans-serif;
	font-size: calc(1rem + (20 * (100vw - 400px)/ 1600));
	padding: 3%;
	color: white;
}
.primary-action {
	color: #FFFFFF;
	background: #171c8f;
	border-color: #171c8f;
	padding: 10px 15px;
	margin: 5px 0;
	border-radius: 8px;
	font-family: 'Gotham Rounded', sans-serif;
	text-decoration: none;
	font-size: 24px;
	margin: 3%;
	padding: 2%;
}
.mainRight {
	display: flex;
	justify-content: center;
	width: 60%;
}

#action-boxes {
	display: flex;
	flex-direction: row;
	margin-bottom: 2%;
}
#action-boxes button {
	color: white;
	background-color: #ab2328;
	font-family: 'Gotham Rounded', sans-serif;
	border-radius: 8px;
	border: 0px;
	padding: 10px 15px;
	margin: 5px 0;
}
#action-boxes i {
	margin: 25px;
}

.action-box {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}
.action-box h2 {
	font-family: "Montserrat", sans-serif;
}
.action-box p {
	width: 70%;
	text-align: center;
	margin: 0 auto;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
}
@media all and (max-width: 700px) {
	#action-boxes {
		flex-direction: column;
		padding-bottom: 15%;
	}
	#banner {
		flex-direction: column;
	}
	.mainLeft, .mainRight {
		text-align: center;
		width: 100%;
	}
}

/* Code for wave at bottom of main section */

.custom-shape-divider-top-1669611750 {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1669611750 svg {
	position: relative;
	display: block;
	width: calc(130% + 1.3px);
	height: 92px;
}

.custom-shape-divider-top-1669611750 .shape-fill {
	fill: #AB2328;
}


@media all and (max-width: 700px) {
	.action-box p {
		width: 100%;
	}
}