body {
	background-image:  url('../img/clouds.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.menuItem {
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	width: 28%;
	text-align: center;
	font-family: 'Gotham Rounded', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	font-size: 1.8vw;
	/* Animate menu items with slightly darker background when hovered over */
	-webkit-transition: background-color 0.5s ease-out;
	-moz-transition: background-color 0.5s ease-out;
	-o-transition: background-color 0.5s ease-out;
	transiton: background-color 0.5s ease-out;
	padding: 1%;
	text-decoration: none;
	color: black;
	margin: 8px;
}
.menuItem:hover {
	background-color: #f2f1f0;
	cursor: pointer;
}

#sensationInfo {
	margin: auto;
	margin-top: 20px;
	display: flex;
	background-color: white;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.topLeftSensation {
	display: flex;
	flex-direction: column;
	width: 40%;
}
.topLeftSensation img {
	object-fit: contain;
}
.topRightSensation {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 60%;
}
.topRightSensation h1 {
	text-align: center;
	font-size: 5vh;
	font-family: 'Gotham Rounded', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	padding: 15px;
}
.topRightSensation h2 {
	text-align: center;
	font-size: 4vh;
	font-family: 'Gotham Rounded', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	padding-top: 4%;
}
.topRightSensation p {
	font-size: 2.5vh;
	font-family:  'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	text-align: center;
}
.sensationContent {
	width: 95%;
	margin: auto;
}
.sensationSelect {
	width: 75%;
}
.btn-group-lg {
	margin-left: 37%;
}
.orderBar {
	width: 95%;
	padding: 1%;
	background-color: white;
	margin-top: 1%;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.orderCart {
	float: right;
}
.orderMenuText {
	float: left;
	line-height: 60px;
	font-family: 'PT Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
	font-size: 3vh;
	font-weight: bold;
}
.orderSizeLabel {
	float: right;
	font-size: 3vh;
	text-align: center;
	margin: auto;
	line-height: 60px;
	font-family: 'Gotham Rounded', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu;
}


/* Code for radio buttons for waffle input on sensationInfo.html page */
input[type="radio"] {
	display: none;
}
label {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
	text-align: center;
	border-radius: 10px;
	margin: 5px;
	display: inline-block;
}
input[type="radio"]:checked + label {
	background-color: #00a3e0;
	cursor: default;
	color: white;
}
input[type="radio"]:not(:checked)+label {
	border: 1px solid darkblue;
}
input[type="radio"]:not(:checked)+label:hover {
	border: 1px solid #00a3e0;
}
#waffleSelect {
	margin: auto;
	display: flex;
	justify-content: space-around;
}
.waffleSelect input[type="radio"] {
	margin: auto;
}

.flavor, .mixin {
	border: 1px solid #ced4da;
	border-radius: 5px;
	width: 30%;
	background-color: white;
	margin-bottom: 2%;
	margin-left: 2%;
}
.flavor input[type="checkbox"], .mixin input[type="checkbox"] {
	appearance: none;
}
.flavor.checked, .mixin.checked {
	background-color: #00a3e0;
	color: white;
	font-weight: bold;
}
.flavorTitle {
	width: 100%;
	text-align: center;
	margin: 0 auto;
}
.flavorGroup, .mixins {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

/* Code for 'Add to Order' button on sensationInfo.html page, should reuse for create.html */

.addToOrder {
	font-size: 30px;
	padding: 2%;
	width: 100%;
	border: none;
	background-color: #00a3e0;
	color: white;
	border-radius: 10px;
}
.addToOrder:disabled {
	background-color: #171c8f;
	color: gray;
}

@media screen and (max-width: 1000px) {
	#sensationInfo {
		margin-bottom: 4%;
	}
	.menuItem {
		border-radius: 10px;
		width: 80%;
	}
	.orderBar {
		border-radius: 10px	;
	}
	.orderItem {
		display:  flex;
		font-size: 5vw;
	}
	.orderItem img {
		width: 30%;
	}
	.orderItem p {
		margin:  auto;
	}
	.sensationSelect {
		width: 100%;
	}
	.topRightSensation {
		width: 90%;
	}
	.flavors {
		flex-direction: column;
	}
	.flavor {
		margin-left: 0%;
		width: 100%;
	}
}